<div class="home-container">
  <div class="categories">
    <div class="categories__header">
      <h2 style="text-align: center;">Succesfully connected!</h2>
    </div>
    <div class="categories__list">
      <swiper
        [zoom]="true"
        [slidesPerView]="screenWidth > 1200 ? 1 : 1"
        [spaceBetween]="50"
        [pagination]="true"
        [loop]="true"
      >
        <ng-template swiperSlide >
          <div class="category-card">Welcom to Ecom-Demo!</div>
        </ng-template>
      </swiper>
    </div>
  </div>


</div>
