<header class="header-container" *ngIf="getToken()">
  <div class="header-container__left">
    <button
      nz-button
      nzType="text"
      size="large"
      (click)="toggleMenu()"
      nzShape="circle"
      nzSize="large"
    >
      <i
        nz-icon
        nzType="menu"
        [ngStyle]="{ 'font-size': '1.25rem', 'padding-top': '6px' }"
      ></i>
    </button>
  </div>
  <div class="header-container__middle">
    <h3 routerLink="/">Ecom-Demo</h3>
  </div>

</header>

<!-- <div class="nav-container" *ngIf="!isMobile">
  <nav>
    <ul>
      <li routerLink="/">Home</li>
      <li routerLink="/login">Login</li>
      <li routerLink="/register">Register</li>
      <li routerLink="/profile">Profile</li>
      <li routerLink="/cart">Cart</li>
      <li routerLink="/product/1">Product</li>
      <li routerLink="/checkout">Checkout</li>
      <li routerLink="/order-history">Order History</li>
    </ul>
  </nav>
</div> -->

<div [className]="isMenuOpen ? 'side-menu show' : 'side-menu'">
  <i nz-icon nzType="close" nzTheme="outline" (click)="toggleMenu()"></i>
  <div class="side-menu__content">
    <h2 routerLink="/" (click)="toggleMenu()">Ecom-Demo</h2>
    <nav>
      <ul>
        <li routerLink="/home" *ngIf="getToken()" (click)="toggleMenu()" >Home</li>
        <li routerLink="/product" *ngIf="getToken()" (click)="toggleMenu()" >Products</li>
        <li routerLink="/login" *ngIf="getToken()" (click)="logout()">Log out</li>


      </ul>
    </nav>
  </div>
</div>

<div
  [className]="isMenuOpen ? 'darken-background enable' : 'darken-background'"
  (click)="toggleMenu()"
></div>
