<div class="login-container">
  <div class="form-container">
    <h2>Sign In to Ecom-Demo</h2>
    <nz-alert
      *ngIf="error"
      nzShowIcon
      nzType="error"
      [nzMessage]="error"
      [ngStyle]="{ 'margin-bottom': '16px' }"
    ></nz-alert>
    <form (ngSubmit)="onSubmit()">
      <div class="input-container">
        <label for="email">User Name</label>
        <input
          nz-input
          type="email"
          name="email"
          placeholder="Enter email address"
          [(ngModel)]="email"
        />
      </div>
      <div class="input-container">
        <label for="password">Password</label>
        <input
          nz-input
          type="password"
          name="password"
          placeholder="Enter your password"
          [(ngModel)]="password"
        />
      </div>
      <div class="cta-container">
        <button
          nz-button
          type="submit"

          [nzLoading]="loading"
        >
          Sign in
        </button>

      </div>
      <a (click)="switchLoginSignUp()">Register</a>

    </form>
  </div>
</div>
