<div class="product-container" >
  <div>
    <a class="backward"  routerLink="/product" nz-button nzType="primary">
      <i nz-icon nzType="left"></i>
      Retour
    </a>
    <div class="product-container__image">
      <!-- Single Image -->
      <swiper
        [zoom]="true"
        [slidesPerView]="1"
        [spaceBetween]="50"
        [pagination]="true"
      >
        <ng-template swiperSlide [zoom]="true">
          <img src="{{ product.image }}" alt="`Product image`" />
        </ng-template>
      </swiper>
      <!-- Multiple images -->
      
    </div>
    <div class="product-container__details">
      <h2 class="title">{{ product.title }}</h2>
      <div class="reviews">
        <div class="rating">
          <p>{{"rating :"+product.rating?.rate+"/5"}}</p>
        </div>
      </div>
      <div class="price-container">
        <h2 class="price">{{ product.price | currency: "USD" }}</h2>
        <span
          class="availability"
          [ngStyle]="{ color: product.rating?.count > 0 ? 'inherit' : 'red' }"
          >{{ product.rating?.count ? "Out of stock" : "In stock" }}</span
        >
      </div>
      <div class="description">{{ product.description }}</div>
      <div class="cta">
        <div class="add-to-cart">
          <span>QTY:</span>
          <nz-input-number
            [(ngModel)]="quantity"
            [nzMin]="product.rating?.count > 0 ? 1 : 0"
            [nzMax]="product.rating?.count > 0 ? product.quantity : 0"
            [nzStep]="1"
          ></nz-input-number>
          <button
            nz-button
            nzType="primary"
            [disabled]="product.rating?.count === 0"
            (click)="alertSuccess()"
          >
            Buy
          </button>
        </div>
        <div class="category">
          <span>Category: </span> {{ product.category }}
        </div>
        <div class="social-links">
          <span>Share: </span>
          <i nz-icon nzType="facebook" nzTheme="outline"></i>
          <i nz-icon nzType="twitter" nzTheme="outline"></i>
          <i nz-icon nzType="google-plus" nzTheme="outline"></i>
          <i nz-icon nzType="mail" nzTheme="outline"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="additional"></div>
</div>
