<div class="table-card">
<nz-table>
  <thead>
    <tr>
      <th>category</th>
      <th>title</th>
      <th>description</th>
      <th>price</th>
      <th>rating</th>
      <th>stock</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products">
      <td>{{ item.category }}</td>
      <td>{{ item.title }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.price  | currency: "USD" }}</td>
      <td>{{ item.rating?.rate }}</td>
      <td>{{ item.rating?.count }}</td>
      <td><a [routerLink]="'/product/'+item.id" [state]="item">details</a></td>
    </tr>
  </tbody>
</nz-table>
</div>
